.img-thumbnail{
    width: 200px;
    height: 200px;
}

main{
    min-height: 75vh;
}

.card{
    width: 18rem;
    /* min-height: 10rem; */
}

#incremente {
    font-weight: 700;
    font-size: 40px;
    margin: 0;
}